canvas{
animation-name: test;
animation-duration:4s;
animation-iteration-count: infinite;
}

    @keyframes test{
        from{
            box-shadow:1px 1px 60px rgb(2, 252, 189);
        }
        to{
            box-shadow:1px 1px 60px rgb(250, 3, 3);
        }
    }
    .btn-warning:hover{
      background-color:rgb(97, 99, 102) ;
      }
      .btn-success:hover{
        background-color:rgb(94, 91, 93) ;
        }